@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-BGnav: #A67DC2;
  --color-BGdivider: #9D76B8;
  --color-BGbutton: #9D76B8;
  --color-BGbuttonSelected: #84659C;
  --color-BGpage: #FBF4E6;
  --color-HOVERlink: #84659C;
  --color-HOVERbutton: rgba(132, 101, 156, 0.50);

  --font-inter: "Inter", sans-serif;

  --text-h1: 24px;
    --text-h2: 16px;
    --text-h3: 14px;
    --text-h4: 12px;
    --text-main: 12px;
    --text-note: 12px;
}
