@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-BGnav: #FFBF00;
  --color-BGdivider: #CC9900;
  --color-BGbutton: #CC9900;
  --color-BGbuttonSelected: #B88A00;
  --color-BGpage: #FFF5D6;
  --color-HOVERlink: #B88A00;
  --color-HOVERbutton: rgba(132, 101, 156, 0.50);

  --color-TEXTmain: #FFFAEB;

  --color-MOBILEnav: #FFBF00;

  --font-inter: "Inter", sans-serif;

  --text-h1: 24px;
  --text-h2: 16px;
  --text-h3: 14px;
    --text-h4: 12px;
    --text-main: 12px;
    --text-note: 12px;
    --text-h1Mob: 20px;
  --text-h2Mob: 14px;
  --text-h3Mob: 12px;
  --text-h4Mob: 10px;
}
