
@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@theme {
  --color-BGnav: #BE5103;
  --color-BGdivider: #9B4000;
  --color-BGbutton: #BE5103;
    --color-BGbuttonSelected: #712F00;
  --color-BGpage: #FFF5D6;
  --color-BGpageDark: #180f00;
  --color-HOVERlink: #712F00;
  --color-HOVERbutton: #9B4000;

  --color-TEXTmain: #FFFAEB;
  --color-TEXTform: #000000;

  --color-MOBILEnav: #BE5103;

  --font-manufacturingConsent: "Manufacturing Consent", serif;
    --font-pirataOne: "Pirata One", serif;
    --font-datatype: "Datatype", serif;
    --font-texturina: "Texturina", serif;

  --text-h1: 24px;
  --text-h2: 16px;
  --text-h3: 14px;
  --text-h4: 12px;
  --text-main: 12px;
  --text-note: 12px;
    --text-h1Mob: 20px;
  --text-h2Mob: 14px;
  --text-h3Mob: 12px;
  --text-h4Mob: 10px;
}

@layer base {

}

button {
  cursor: pointer;
}
